.venv

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec
*.log
*.pot
*.pyc
*.pkl
*.db
*.sqlite3

# Flask
instance/
*.db
*.sqlite
*.sqlite3
*.log
*.pid
*.pyc
*.pyo
*.pyd
__pycache__/
*.coverage
.coverage.*
htmlcov/
*.env
.env.*
*.bak
*.swp

# Poetry
poetry.lock
.cache/
dist/
build/
site/
.mypy_cache/
.pytest_cache/
.tox/
.coverage
.coverage.*
*.cover
*.py,cover
.hypothesis/
.dmypy.json
.dmypy/
.pyre/
.idea